<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Java Code Input Form</title>

    <style>
        .dashed-border {
            border: 1px dashed #000;
            height: 100vh; /* This will make the div take the full height of the screen */
            padding: 10px;
        }

        .non-selectable:focus {
            outline: none;
            box-shadow: none;
            border-color: black;
        }

        @media (min-width: 1700px) {
            .container {
                min-width: 1650px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Java Code Input</h1>
            <form th:action="@{/formatCode}" method="POST">
                <div class="form-group">
                    <label for="sourceCode">Initial Java Code:</label>
                    <textarea class="form-control dashed-border" id="sourceCode" name="sourceCode" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-8">
            <h1>Results</h1>
            <form th:action="@{/saveFormattedCode}" method="POST">
                <div class="form-group">
                    <label for="formattedCode">Formatted Java Code:</label>
                    <textarea class="form-control dashed-border non-selectable"
                              id="formattedCode"
                              name="formattedCode"
                              rows="10"
                              th:text="${formattedCode}"
                              readonly>
                    </textarea>
                </div>
                <h4>Select Time Range</h4>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="id">Text ID:</label>
                        <input type="text" id="id" name="id" class="form-control" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="days">Days:</label>
                        <input type="number" id="days" name="days" class="form-control" min="1" max="90">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="hours">Hours:</label>
                        <input type="number" id="hours" name="hours" class="form-control" min="1" max="23">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="minutes">Minutes:</label>
                        <input type="number" id="minutes" name="minutes" class="form-control" min="1" max="59">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="seconds">Seconds:</label>
                        <input type="number" id="seconds" name="seconds" class="form-control" min="10" max="59" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
