<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Formatted code</title>
</head>
<body>
<main layout:fragment="content">
    <div class="form-group">
        <h1>Formatted Java code</h1>
        <textarea class="form-control dashed-border non-selectable"
                  id="formattedCode"
                  name="formattedCode"
                  rows="25"
                  th:text="${formattedCode.getFormattedCode()}"
                  readonly>
        </textarea>
        <button class="btn btn-primary mt-3" onclick="copyToClipboard()">Copy</button>
    </div>
</main>
<script>
    function copyToClipboard() {
        const textarea = document.getElementById("formattedCode").value;
        navigator.clipboard.writeText(textarea);
    }
</script>
</body>
</html>